# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
Python_*/

# Virtual environments
venv/
env/
*.egg-info/
.venv/

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Database files
*.sqlite3

# Output directories and files
output/
*.jpg
*.png
*.jpeg

# LaTeX artifacts (if you compile .tex files in the main repo folder)
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.gz